block vars

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      title Your awesome title

    link(rel='shortcut icon', href='#{staticUrl}/favicon.ico')
    link(rel='stylesheet', href='#{staticUrl}/css/site.css')

    block scripts

  body.columnLayout(class=bodyClass)
    != _header

    #outer
      block body

    != _footer
